@font-face {
  font-family: 'triider';
  src: url('../font/triider.eot?3673555');
  src: url('../font/triider.eot?3673555#iefix') format('embedded-opentype'),
       url('../font/triider.woff2?3673555') format('woff2'),
       url('../font/triider.woff?3673555') format('woff'),
       url('../font/triider.ttf?3673555') format('truetype'),
       url('../font/triider.svg?3673555#triider') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'triider';
    src: url('../font/triider.svg?3673555#triider') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "triider";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-alert:before { content: '\e800'; } /* '' */
.icon-apartment:before { content: '\e801'; } /* '' */
.icon-arrow-down:before { content: '\e802'; } /* '' */
.icon-arrow-left:before { content: '\e803'; } /* '' */
.icon-arrow-right:before { content: '\e804'; } /* '' */
.icon-arrow-up:before { content: '\e805'; } /* '' */
.icon-bell:before { content: '\e806'; } /* '' */
.icon-briefcase:before { content: '\e807'; } /* '' */
.icon-budget:before { content: '\e808'; } /* '' */
.icon-bug:before { content: '\e809'; } /* '' */
.icon-bullhorn:before { content: '\e80a'; } /* '' */
.icon-calendar-full:before { content: '\e80b'; } /* '' */
.icon-camera-video:before { content: '\e80c'; } /* '' */
.icon-camera:before { content: '\e80d'; } /* '' */
.icon-car:before { content: '\e80e'; } /* '' */
.icon-chat:before { content: '\e80f'; } /* '' */
.icon-checkmark:before { content: '\e810'; } /* '' */
.icon-clock:before { content: '\e811'; } /* '' */
.icon-cloud-check:before { content: '\e812'; } /* '' */
.icon-cloud-download:before { content: '\e813'; } /* '' */
.icon-cloud-sync:before { content: '\e814'; } /* '' */
.icon-code:before { content: '\e815'; } /* '' */
.icon-config:before { content: '\e816'; } /* '' */
.icon-credit-card:before { content: '\e817'; } /* '' */
.icon-cross:before { content: '\e818'; } /* '' */
.icon-dashboard:before { content: '\e819'; } /* '' */
.icon-dislike:before { content: '\e81a'; } /* '' */
.icon-down:before { content: '\e81b'; } /* '' */
.icon-download:before { content: '\e81c'; } /* '' */
.icon-enter:before { content: '\e81d'; } /* '' */
.icon-envelope:before { content: '\e81e'; } /* '' */
.icon-exit:before { content: '\e81f'; } /* '' */
.icon-eye:before { content: '\e820'; } /* '' */
.icon-file-add:before { content: '\e821'; } /* '' */
.icon-file:before { content: '\e822'; } /* '' */
.icon-film-play:before { content: '\e823'; } /* '' */
.icon-filter:before { content: '\e824'; } /* '' */
.icon-gift:before { content: '\e825'; } /* '' */
.icon-group:before { content: '\e826'; } /* '' */
.icon-heart:before { content: '\e827'; } /* '' */
.icon-help:before { content: '\e828'; } /* '' */
.icon-history:before { content: '\e829'; } /* '' */
.icon-home:before { content: '\e82a'; } /* '' */
.icon-hourglass:before { content: '\e82b'; } /* '' */
.icon-inbox:before { content: '\e82c'; } /* '' */
.icon-keyboard:before { content: '\e82d'; } /* '' */
.icon-laptop:before { content: '\e82e'; } /* '' */
.icon-left:before { content: '\e82f'; } /* '' */
.icon-license:before { content: '\e830'; } /* '' */
.icon-like:before { content: '\e831'; } /* '' */
.icon-link:before { content: '\e832'; } /* '' */
.icon-list:before { content: '\e833'; } /* '' */
.icon-location:before { content: '\e834'; } /* '' */
.icon-lock:before { content: '\e835'; } /* '' */
.icon-map:before { content: '\e836'; } /* '' */
.icon-maximize:before { content: '\e837'; } /* '' */
.icon-menu:before { content: '\e838'; } /* '' */
.icon-mic:before { content: '\e839'; } /* '' */
.icon-minimize:before { content: '\e83a'; } /* '' */
.icon-neutral:before { content: '\e83b'; } /* '' */
.icon-paperclip:before { content: '\e83c'; } /* '' */
.icon-pencil:before { content: '\e83d'; } /* '' */
.icon-picture:before { content: '\e83e'; } /* '' */
.icon-pin:before { content: '\e83f'; } /* '' */
.icon-power-switch:before { content: '\e840'; } /* '' */
.icon-printer:before { content: '\e841'; } /* '' */
.icon-pushpin:before { content: '\e842'; } /* '' */
.icon-question-circle:before { content: '\e843'; } /* '' */
.icon-redo:before { content: '\e844'; } /* '' */
.icon-right:before { content: '\e845'; } /* '' */
.icon-sad:before { content: '\e846'; } /* '' */
.icon-screen:before { content: '\e847'; } /* '' */
.icon-search:before { content: '\e848'; } /* '' */
.icon-smartphone:before { content: '\e849'; } /* '' */
.icon-smile:before { content: '\e84a'; } /* '' */
.icon-star-half:before { content: '\e84b'; } /* '' */
.icon-star:before { content: '\e84c'; } /* '' */
.icon-sync:before { content: '\e84d'; } /* '' */
.icon-tag:before { content: '\e84e'; } /* '' */
.icon-talk:before { content: '\e84f'; } /* '' */
.icon-telephone:before { content: '\e850'; } /* '' */
.icon-trash:before { content: '\e851'; } /* '' */
.icon-undo:before { content: '\e852'; } /* '' */
.icon-unlink:before { content: '\e853'; } /* '' */
.icon-up:before { content: '\e854'; } /* '' */
.icon-upload:before { content: '\e855'; } /* '' */
.icon-user:before { content: '\e856'; } /* '' */
.icon-volume-high:before { content: '\e857'; } /* '' */
.icon-volume-low:before { content: '\e858'; } /* '' */
.icon-volume-medium:before { content: '\e859'; } /* '' */
.icon-volume:before { content: '\e85a'; } /* '' */
.icon-warning:before { content: '\e85b'; } /* '' */
.icon-wheelchair:before { content: '\e85c'; } /* '' */
.icon-lamp-off:before { content: '\e85d'; } /* '' */
.icon-checkmark-circle:before { content: '\e85e'; } /* '' */
.icon-lamp-on:before { content: '\e85f'; } /* '' */
.icon-coupon:before { content: '\e860'; } /* '' */
.icon-service:before { content: '\e861'; } /* '' */
.icon-term:before { content: '\e862'; } /* '' */
.icon-copy:before { content: '\e863'; } /* '' */
.icon-minus-circle:before { content: '\e864'; } /* '' */
.icon-share:before { content: '\e8c8'; } /* '' */
.icon-grid:before { content: '\e8c9'; } /* '' */
.icon-facebook:before { content: '\e8cf'; } /* '' */
.icon-whatsapp:before { content: '\e8d0'; } /* '' */
.icon-messenger:before { content: '\e8d1'; } /* '' */
.icon-instagram:before { content: '\e8d2'; } /* '' */
